<div class="Header">
  <div class="TitleContainer">
    <h1 class="Title">Nova Admissão cooperado</h1>
    <h5 class="Breadcrumbs">
      cadastro / admissão do cooperado / nova admissão de cooperado
    </h5>
  </div>
  <div class="ProfileContainer">
    <div class="Notify">
      <ion-icon class="Icon" name="notifications-outline"></ion-icon>
      <div class="Alert">
        <small>7</small>
      </div>
    </div>
    <div class="Viacredi">viacredi</div>
    <div class="Profile">
      <img class="Image" src="../../../assets/images/perfil.jpg" />
      <ion-icon class="IconSettings" name="settings"></ion-icon>
    </div>
  </div>
</div>
